//GENERAL HEADER STYLES
.home-header,
.blog-header,
.contact-header {
    background-size: cover;
    height: 90vh;
}

.header-container {
    display: flex;
	flex-direction: column;
    height: 100%;
    
    .header-top {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

        .logo {
            @include logo-variations($accent-color, 3.46rem);
            padding-left: 0;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.header-top a {
color: $secondary-bg-color;
text-transform: uppercase;
font-size: 2rem;
font-weight: bold;
line-height: 29px;
letter-spacing: 1px;
padding: 0 20px;
transition: all .5s;

    &:hover,
    &:focus {
        color: $accent-color;
        font-size: 2.2rem;
    }
}


// HOME HEADER STYLES
.home-header {
    background-image: url("../styles/assets/home-image-1.jpg");
}

.home-header-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-header-img {
        width: 45%;
        position: absolute;
        bottom: 0;
        left:0;
    }
   
    h1 {
        @include custom-h1($secondary-text-color, 6.2rem, 6.7px);
        text-transform: lowercase;
        width: 50%;
        padding-left: 85px;
        z-index: 10;

        .header-logo-special {
            @include logo-variations($button-color, 11.12rem);
            font-weight: bolder;
            // padding-top: 20px;
            display: inline-block;
        }
    }
}


//BLOG HEADER STYLES
.blog-header {
    background-image: url("../styles/assets/blog-image-1.jpg");
    background-position: bottom right;
}

.blog-header-main,
.contact-header-main {
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
    @include custom-h1($secondary-bg-color, 8.7rem, 9px);
    }
}

//CONTACT HEADER STYLES
.contact-header {
    background-image: url("../styles/assets/contact-image-1.jpg");
    background-position: center;
}

