//START OF VISIT SECTION
.visit {
    background-color: $secondary-bg-color;

    padding: 100px 0 80px;
}

.visit-container {
    display: flex;
    justify-content: space-between;
    
    .visit-text {
        padding: 40px 0 30px 0;
        width: calc(65% - 40px);

        h2 {
            @include custom-h2 ($secondary-text-color);   
        }

        p {
            padding: 10px 0 20px;
        }
    }

    .visit-img {
        width: calc(35% - 40px);
        margin: 20px;

        img {
            box-shadow: -15px 15px $accent-color;
        }
    }
}


//GALLERY STYLES
.gallery-container {
    background-color: $primary-bg-color;
    
    padding: 70px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            width: calc((100%/3) - 20px);
        }
    }
}


//ABOUT STYLES
.about {
    background-color: $secondary-bg-color;

    padding: 40px 0 60px;

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: calc(50% - 5px);
            padding: 30px 0;

            display: flex;
            justify-content: flex-start;
        }
    }
}

.about-icon i {
    color: $secondary-bg-color;
    background-color: $accent-color;
    
    font-size: 3rem;
    text-align: center;

    border-radius: 50%;
    padding: 12px;
    margin-right: 20px;
}

.about-text h3 {
    @include custom-h3 ($secondary-text-color, 2.8rem, bold);
}
// END OF STYLES

