// BLOG CONTAINER SECTION
.blog {
    background-color: $primary-bg-color;
    padding-top: 80px;
}

.blog-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .blog-img {
        width: calc(50% - 80px);
        
        .blog-img-1,
        .blog-img-2 {
            position: relative;
        }

        .blog-img-1 {
            box-shadow: 15px 15px $accent-color;
            margin-bottom: -40px;
            top: -100px;
        }
        
        .blog-img-2 {
            box-shadow: -15px 15px $accent-color;
            bottom: -50px;  
        }
    }

    .special-img{
        order: 1;
    }

    .blog-text {
        width: calc(50% - 80px);
    
        h2 {
            @include custom-h2($button-color);
        }

        p {
            padding: 10px 0 20px;
        }
    }

    .text-right {
        padding: 0 15px 0 80px;
    }

    .text-left {
        text-align: right;
        padding: 0 80px 0 15px;
    }
}

// CONTEST CONTAINER STYLES
.contest-text {
    background-color: $secondary-bg-color;
    padding: 100px 0;
    text-align: center;

    h2 {
        @include custom-h2 ($secondary-text-color);
    }

    p {
        width: 80%;
        padding: 15px 0;
        margin: 0 auto;
    }
}
