// CONTEST CONTAINER STYLES
.contest-text {
    background-color: $secondary-bg-color;
    padding: 100px 0;
    text-align: center;

    h2 {
        @include custom-h2 ($secondary-text-color);
    }

    p {
        width: 80%;
        padding: 15px 0;
        margin: 0 auto;
    }
}



