//START OF VISIT SECTION
.visit {
    background-color: $secondary-bg-color;
    padding: 100px 0 80px;
}

.visit-container {
    display: flex;
    justify-content: space-between;
    
    .visit-text {
        padding: 30px 0;
        width: calc(65% - 40px);

        h2 {
        @include custom-h2 ($secondary-text-color);
        };

        p {
            padding: 20px 0;
        }
    }

    .visit-img {
        width: calc(35% - 40px);
       margin: 20px;

        img {
            box-shadow: -15px 15px $accent-color;
        }
    }
}
//GALLERY CONTAINER STYLES
.gallery-container {
    background-color: #50E3C250;
    padding: 70px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            width: calc((100%/3) - 20px);
        }
    }
}


//ABOUT CONTAINER STYLES
.about {
    background-color: $secondary-bg-color;
    padding: 40px 0;
}

.info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .info { 
        width: calc(50% - 5px);
        padding: 40px 0;
        display: flex;
        justify-content: flex-start;

        i {
            color: $secondary-bg-color;
            background-color: $accent-color;
            font-size: 3rem;
            text-align: center;
            border-radius: 50%;
            padding: 12px;
            margin-right: 20px;
        }
    } 
}