//MEDIA QUERIES

@media (max-width: 1050px) {

    //HEADER STYLES
    .home-header-main {

        h1 {
            font-size: 6rem;
            text-align: center;
            line-height: 80px;

            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .header-logo-special {
                font-size: 9rem;
            }
        }
    }
   
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {

    //HEADER STYLES
    header nav {
        flex-direction: column;
        align-items: flex-start;

        ul a {
            padding: 20px;
        }
    }

    .blog-header-main,
    .contact-header-main {
        justify-content: center;
        
        h1 {
            font-size: 7rem;
            text-align: center;
        }
    }

    .home-header-img {
        display: none;
    }

    //HOMEPAGE STYLES
    .news {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news-img {
        width: 80%;

        .news-img-1,
        .news-img-2 {
            position: static;
            margin: 0;
        }
    }

    .special-img {
        order: 0;
    }

    .news-text {
        width: 100%;
    }

    .text-right,
    .text-left {
        padding: 40px;
        text-align: center;
    }

    //BLOG PAGE STYLES
    .blog-post {
        flex-direction: column;
    }
    
    .blog-container {
        width: 90%;
    }
    
    aside {
        width: 100%;
        padding: 80px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            box-shadow: 15px 15px  $accent-color;
            width: 40%;
        }

        .aside-text {
            width: 60%;
            padding: 10px 20px 0 60px;
            display: flex;
            flex-direction: column;
        }
    }

    // CONTACT PAGE STYLES
    .contact-main {
        margin: 0;
        padding: 40px 0;
    }

    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form {
        position: static;
        width: 100%;
    }

    .contact-info {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;

        .contact-icons i {
            padding: 10px 20px;
        }
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    //GLOBAL FORM STYLES
    .comments-form,
    .contact-form {

        .form-flex {
            flex-direction: column;

            input {
                width: 100%;
            }
        }
    }

    //HEADER STYLES
    .home-header-main {

        h1 {
            font-size: 5rem;

            .header-logo-special {
                font-size: 7rem;
            }
        }
    }

    //HOMEPAGE STYLES
    .visit-container,
    .about ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .visit-container{

        .visit-img {
            width: 80%;
        }

        .visit-text{
            text-align: center;
            width: 100%;
            order: 1;
        }
    }

    .about ul li {
        width: 100%;
    }


    .contest {

        img {
            height: 30vh;
            object-fit: cover;
            object-position: top;
        }

        p {
            width: 100%;
        }
    }


    //BLOG PAGE STYLES
    .blog-container {
        position: static;
        width: 100%;
        margin-bottom: 0;
    }

    .blog-content {
        padding-top: 60px;

        .blog-main-img {
            position: static;
            margin: 0 auto;
            width: 80%;
        }
    }

    .blog-post-text{
        border-right: none;
    }

    .comment {
        flex-direction: column;

        .comment-img {
            width: 25%;
        }

        .comment-text {
            width: 100%;
        }
    }

    aside {
        flex-direction: column;
        justify-content: center;
        align-items:center;

        img {
            width: 60%;  
        }

        .aside-text {
            text-align: center;
            width: 100%;
            padding: 20px;
        }
    }  

    // CONTACT STYLES
    .contact-form {
        box-shadow: none;
    }
}


/* Landscape phones and down */
@media (max-width: 500px) {

   // GLOBAL STYLES
    .contest-text h2 {
        font-size: 3rem;
        line-height: 40px;
    }

    p,
    .button {
        font-size: 1.6rem;
    }

    // HEADER STYLES
    .home-header,
    .blog-header,
    .contact-header {
        height: 50vh;
    }

    header nav {
        flex-direction: row;
    }

    // MOBILE NAV FUNCTIONALITY
    .mobile-nav {
        display: block;
    }

    .hamburger-nav {
        background-color: $secondary-text-color;

        height: 5%;
        width: 100%; 
        padding: 10px;

        position: absolute;
        right: 0;
        left: 0;
        top: -100px;
        z-index: 10;

        transition: all .5s;

        a {
            color: #FFF;

            font-size: 1.6rem;

            padding: 5px;

            &:hover,
            &:focus {
                color: #FFF;

                font-size: 1.6rem;
            }
        }   
    }

    nav input[type="checkbox"]:checked + .hamburger-nav {
        top: 0px;
    }

    .home-header-main {

        h1 {
            font-size: 3rem;
            line-height: 40px;
          
            .header-logo-special {
                font-size: 4.6rem;
            }
        }
    }

    .blog-header-main,
    .contact-header-main {
        
        h1 {
            font-size: 4.6rem;
        }
    }

    //HOMEPAGE STYLES
    .visit {
        padding: 50px 0;
    
        .visit-img {
            width: 100%;
        }
    }

    .gallery-container ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            width: 100%;
            padding-bottom: 20px;
        }
    }

    .about li {
        text-align: center;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-icon i {
        margin: 0 0 20px 0;
    }

    .contest-text {
        padding: 50px 0;
    }

    //BLOG PAGE STYLES
    .blog-post {
        justify-content: center;
        align-items: center;
    }

    .blog-content {
        justify-content: center;
        align-items: center;

        .blog-main-img {
            width: 100%;

            box-shadow: none;
        }

        .blog-post-text {
            border: none;

            text-align: center;

            padding: 40px 0 0 0;

            h2 {
                font-size: 3rem;
                line-height: 35px;
            }
        }
    }

    .comments-content {
        border: 3px solid $accent-color;
        
        text-align: center;

        width: 100%;
        padding: 20px;

        .comment {
            align-items: center;

            .comment-img {
                width: 45%;
                padding-bottom: 20px;
            }
        }
    }

    .aside-text {
        a,
        li {
            font-size: 1.6rem;
        }
    }
}

//END OF MEDIA QUERIES
