//VARIABLE DECLARATIONS
//COLORS
$accent-color: #50E3C2;
$primary-text-color: #2C2C2C;
$secondary-bg-color: #FAFFFE;
$button-color: #063974;
$primary-bg-color: #D2E9F1;
$secondary-text-color: #0C5F4C;

// FONTS
$primary-font:'Lato', sans-serif;
$secondary-font:'Playfair Display SC', serif;

// MIXINS
@mixin custom-h1($color, $size, $spacing) {
    color: $color;
    font-family: $primary-font;
    font-size: $size;
    font-weight: bold;
    line-height: 58px;
    letter-spacing: $spacing;
}

@mixin logo-variations($color, $size) {
    color: $color;
    font-family: $secondary-font;
    font-size: $size;
    font-style: italic;
    font-weight: bold;
    text-tranform: uppercase;
}


// IMPORTING OF PARTIALS
@import "setup";
@import "header";


//GENERAL STYLES
html {
    font-size: 62.5%;
}

body {
    font-family: $primary-font;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 1px;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: $primary-font;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing:3.8px;
    line-height: 58px;
}

h3 {
    font-family: $primary-font;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3.2px;
    line-height: 58px;
}

p {
    font-weight: 300;
}




