//VARIABLE DECLARATIONS
//COLORS
$accent-color: #50E3C2;
$primary-bg-color: #50E3C250;
$primary-text-color: #2C2C2C;
$secondary-bg-color: #FAFFFE;
$button-color: #063974;
$light-blue: #D2E9F1;
$secondary-text-color: #0C5F4C;

// FONTS
$primary-font:'Lato', sans-serif;
$secondary-font:'Playfair Display SC', serif;

// MIXINS
@mixin custom-h1($color, $size, $spacing) {
    color: $color;
    font-family: $primary-font;
    font-size: $size;
    font-weight: bold;
    line-height: 58px;
    letter-spacing: $spacing;
}

@mixin logo-variations($color, $size) {
    color: $color;
    font-family: $secondary-font;
    font-size: $size;
    font-style: italic;
    font-weight: bold;
    text-tranform: uppercase;
}

@mixin custom-h2 ($color){
    color: $color;
    font-family: $primary-font;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing:3.8px;
    line-height: 58px;
}

// IMPORTING OF PARTIALS
@import "setup";
@import "header";
@import "home-visit";
@import "home-gallery";
@import "home-about";
@import "home-blog";
@import "home-contest";


//GENERAL STYLES
html {
    font-size: 62.5%;
}

body {
    font-family: $primary-font;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 1px;
}

img {
    width: 100%;
    height: auto;
}

h3 {
    color: $secondary-text-color;
    font-family: $primary-font;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3.2px;
    line-height: 58px;
}

p {
    font-weight: 300;
}

.button {
    background-color: $button-color;
    color: $secondary-bg-color;
    font-family: $secondary-font;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
    line-height: 32px;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
}



