//VARIABLE DECLARATIONS
//COLORS
$accent-color: #50E3C2;
$primary-bg-color: #50E3C250;
$primary-text-color: #2C2C2C;
$secondary-bg-color: #FAFFFE;
$button-color: #063974;
$light-blue: #D2E9F150;
$secondary-text-color: #0C5F4C;

// FONTS
$primary-font:'Lato', sans-serif;
$secondary-font:'Playfair Display SC', serif;

// MIXINS
@mixin custom-h1($color, $size, $spacing) {
    color: $color;
    font-family: $primary-font;
    font-size: $size;
    font-weight: bold;
    line-height: 58px;
    letter-spacing: $spacing;
}

@mixin custom-h2 ($color){
    color: $color;
    font-family: $primary-font;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 3.8px;
    line-height: 58px;
}

@mixin custom-h3 ($color, $size, $weight){
    color: $color;
    font-family: $primary-font;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: 3.2px;
    line-height: 58px;
}

@mixin logo-variations($color, $size) {
    color: $color;
    font-family: $secondary-font;
    font-size: $size;
    font-style: italic;
    font-weight: bold;
    text-tranform: uppercase;
}

// IMPORTING OF PARTIALS
@import "setup";
@import "header-footer";

//HOME PAGE PARTIALS
@import "home-visit-gallery-about";
@import "home-blog-giveaway";

//ADDITIONAL PAGE PARTIALS
@import "blog-post";
@import "contact";

//MEDIA QUERIES PARTIAL
@import "mediaqueries";

//GENERAL STYLES
html {
    font-size: 62.5%;
}

body {
    font-family: $primary-font;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 1px;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-weight: 300;
}

.button {
    background-color: $button-color;
    color: $secondary-bg-color;
    font-family: $secondary-font;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
    line-height: 32px;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;

    &:hover,
    &:focus {
        background-color: $secondary-text-color;
    }
}

.skip-link {
    background-color: $button-color;
    color: $secondary-bg-color;
    text-align: center;
    border-radius: 4px;
    width: 225px;
    padding: 3px;
    position: absolute;
    left: -1000px;
    top: 3px;
    z-index: 20;
    &:focus {
        left: 40%;
    }
}

// GENERAL FORM STYLES
.form-flex {
    display: flex;
    justify-content: space-between;

    input {
        border-bottom: 2px solid $accent-color;
    }
}

input, 
textarea {
    &::placeholder {
        font-family: $primary-font;
        font-weight: light;
        line-height: 32px;
        letter-spacing: 2px;
    }
}

textarea, 
button {
    width: 100%;
}

textarea {
    border: 2px solid $accent-color;
    padding: 25px 0 0 25px;
    resize: none;
}
//GENERAL FORM STYLES END
// GENERAL STYLES END


