@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

body,
h1,
h2,
h3,
h4,
nav,
ul,
li,
a,
p,
button {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input[type="text"],
input[type="email"],
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.home-header,
.blog-header,
.contact-header {
  background-size: cover;
  height: 90vh;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header-container .header-top {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .header-top .logo {
  color: #50E3C2;
  font-family: "Playfair Display SC", serif;
  font-size: 3.46rem;
  font-style: italic;
  font-weight: bold;
  text-tranform: uppercase;
  padding-left: 0;
}

.header-container .header-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top a {
  color: #FAFFFE;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 1px;
  padding: 0 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header-top a:hover, .header-top a:focus {
  color: #50E3C2;
  font-size: 2.2rem;
}

.home-header {
  background-image: url("../styles/assets/home-image-1.jpg");
}

.home-header-main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-header-main h1 {
  color: #0C5F4C;
  font-family: "Lato", sans-serif;
  font-size: 6.2rem;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 6.7px;
  text-transform: lowercase;
}

.home-header-main h1 .header-logo-special {
  color: #063974;
  font-family: "Playfair Display SC", serif;
  font-size: 11.12rem;
  font-style: italic;
  font-weight: bold;
  text-tranform: uppercase;
  font-weight: bolder;
  padding-top: 20px;
  display: inline-block;
}

.blog-header {
  background-image: url("../styles/assets/blog-image-1.jpg");
  background-position: bottom right;
}

.blog-header-main,
.contact-header-main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-header-main h1,
.contact-header-main h1 {
  color: #FAFFFE;
  font-family: "Lato", sans-serif;
  font-size: 8.7rem;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 9px;
}

.contact-header {
  background-image: url("../styles/assets/contact-image-1.jpg");
  background-position: center;
}

.visit {
  background-color: #FAFFFE;
  padding: 100px 0 80px;
}

.visit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visit-container .visit-text {
  padding: 30px 0;
  width: calc(65% - 40px);
}

.visit-container .visit-text h2 {
  color: #0C5F4C;
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 3.8px;
  line-height: 58px;
}

.visit-container .visit-text p {
  padding: 20px 0;
}

.visit-container .visit-img {
  width: calc(35% - 40px);
  margin: 20px;
}

.visit-container .visit-img img {
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.gallery-container {
  background-color: #50E3C250;
  padding: 70px 0;
}

.gallery-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-container ul li {
  width: calc((100%/3) - 20px);
}

.about {
  background-color: #FAFFFE;
  padding: 40px 0;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-container .info {
  width: calc(50% - 5px);
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info-container .info i {
  color: #FAFFFE;
  background-color: #50E3C2;
  font-size: 3rem;
  text-align: center;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

.blog {
  background-color: #50E3C250;
  padding: 80px 0 60px;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-container .blog-img {
  width: calc(60% - 100px);
}

.blog-container .blog-img .blog-img-1,
.blog-container .blog-img .blog-img-2 {
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
  position: relative;
}

.blog-container .blog-img .blog-img-1 {
  top: -100px;
  left: -100px;
}

.blog-container .blog-img .blog-img-2 {
  bottom: -100px;
  right: -100px;
}

.blog-container .special-img {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.blog-container .blog-text {
  width: calc(40% - 10px);
}

.blog-container .blog-text h2 {
  color: #063974;
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 3.8px;
  line-height: 58px;
}

.blog-container .blog-text p {
  padding: 10px 0 20px;
}

.blog-container .text-left {
  text-align: right;
}

.contest-text {
  background-color: #FAFFFE;
  padding: 100px 0;
  text-align: center;
}

.contest-text h2 {
  color: #0C5F4C;
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 3.8px;
  line-height: 58px;
}

.contest-text p {
  width: 80%;
  padding: 15px 0;
  margin: 0 auto;
}

.blog-post {
  background-color: #FAFFFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-post .blog-container {
  width: calc(70% - 40px);
  margin-bottom: -120px;
  position: relative;
  top: -200px;
}

.blog-post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-main-img {
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
  position: relative;
  right: 15px;
}

.blog-post-text {
  padding: 80px 0 40px 40px;
  border-right: 5px solid #50E3C2;
  border-bottom: 5px solid #50E3C2;
}

.blog-post-text h2 {
  color: #0C5F4C;
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 3.8px;
  line-height: 58px;
}

.blog-post-text .date {
  color: #063974;
  font-weight: lighter;
  font-style: italic;
  padding-top: 0;
}

.blog-post-text .date .highlight {
  font-weight: 700;
}

.blog-post-text p {
  padding: 15px 0;
}

.comments-container {
  padding: 60px 0 30px 40px;
}

.comments-container h3 {
  color: #2C2C2C;
  font-family: "Lato", sans-serif;
  font-size: 2.8rem;
  font-weight: bolder;
  letter-spacing: 3.2px;
  line-height: 58px;
  padding-bottom: 40px;
}

.comment-1,
.comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}

.comment-1 .comment-img,
.comment-2 .comment-img {
  width: calc(20% - 20px);
}

.comment-1 .comment-text,
.comment-2 .comment-text {
  width: calc(80% - 20px);
}

.comment-1 .comment-text h4,
.comment-2 .comment-text h4 {
  color: #063974;
  padding-bottom: 10px;
}

.comments-form .form-flex input {
  width: calc(50% - 20px);
  padding: 0 0 30px 30px;
}

.comments-form input,
.comments-form textarea {
  margin-bottom: 30px;
}

.comments-form textarea {
  padding: 30px 0 0 30px;
}

.comments-form {
  background-color: #FAFFFE;
}

aside {
  width: calc(30% - 40px);
  padding-top: 80px;
}

.mission,
.recent-posts {
  padding: 10px 0;
}

.mission h4,
.recent-posts h4 {
  color: #063974;
  padding: 10px 0;
}

.mission a,
.recent-posts a {
  color: #0C5F4C;
  font-weight: bolder;
}

.mission li,
.recent-posts li {
  font-weight: 300;
}

.mission li::before,
.recent-posts li::before {
  content: "•";
  color: #50E3C2;
  padding-right: 10px;
}

.contact-main {
  background-color: #FAFFFE;
}

.contact-main .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form {
  background-color: white;
  width: calc(75% - 40px);
  padding: 50px;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
  position: relative;
  top: -150px;
}

.contact-form .form-flex input {
  width: calc(50% - 15px);
  padding: 20px 0 20px 25px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 50px;
}

.contact-form textarea {
  padding: 25px 0 0 25px;
}

.contact-info {
  width: calc(25% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
}

.contact-info .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info .contact-icons i {
  padding: 10px 20px 10px 0;
}

.contact-info .contact-text h4 {
  padding: 10px 0 15px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 1px;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-weight: 300;
}

.button {
  background-color: #063974;
  color: #FAFFFE;
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 1px;
  line-height: 32px;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
}

.button:hover, .button:focus {
  background-color: #0C5F4C;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-flex input {
  border-bottom: 2px solid #50E3C2;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: light;
  line-height: 32px;
  letter-spacing: 2px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: light;
  line-height: 32px;
  letter-spacing: 2px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: light;
  line-height: 32px;
  letter-spacing: 2px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: light;
  line-height: 32px;
  letter-spacing: 2px;
}

textarea,
button {
  width: 100%;
}

textarea {
  border: 2px solid #50E3C2;
  padding: 25px 0 0 25px;
  resize: none;
}

footer {
  background-color: #2C2C2C;
  color: #FAFFFE;
  text-align: center;
  padding: 10px 0;
}
